.navigation {
  grid-area: nav;
  display: grid;
  padding: 0 8px 8px;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  grid-auto-flow: row;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.navigation__logo {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  position: relative;

  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}

.navigation__logo::after {
  content: '';
  display: block;
  width: 120%;
  height: 2px;
  background-color: var(--black-color);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__bottomButton {
  grid-column: 1 / span 2;
}

.navigation__button.active {
  background: var(--primary-color-lighter);
  color: white;
}

.navigation__logout {
  background: var(--error-color-light);
}
