.habitList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: list;
  overflow-y: scroll;
  max-height: calc(100vh - 70px);
}

.habitList__inner {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
