.habitList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-area: list;
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 8px;
}

.habitList__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
