.repeat {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    display: inline-block;
    font-weight: 500;
    font-size: var(--font-size-sm);
  }
}

.repeat__field {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.repeat__fieldColumn {
  flex-direction: column;
  align-items: flex-start;
}

.repeat__weekdays {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.repeat__weekdayButton {
  margin-top: 8px;
  min-width: 40px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.repeat__weekdayButton.selected {
  background-color: var(--primary-color-lighter);
  color: white;
}

.repeat__radioGroup .repeat__radioLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.preview {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--primary-color-lightest);
}
