.UserRegister {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.384);
  padding: 10px;
  border-radius: 10px;
  /* display: none; */

  input {
    margin-bottom: 20px;
  }

  .divider {
    text-align: center;
    margin: 20px 0;
    color: #666;
    font-size: 14px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background-color: #ddd;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .googleButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
