.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 2%;
  width: 100vw;
  height: 100vh;
}

.app__habits {
  max-height: calc(100vh - 106px - 15px);
}

.app__users {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

.app__overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
