:root {
  --primary-color: #34526f;
  --secondary-color: #d1d1d1;
  --border-color: rgb(198, 202, 207);
  --text-font-family: 'Montserrat', sans-serif;
  --h1-font-family: 'Merriweather Sans', sans-serif;
  --header-font-family: 'Open Sans', serif;
  --black-color: #000000e6;
  font-size: 16px;
  @media screen and (min-width: var(--tablet-res)) {
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font-family);
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f6;
  color: #000000e6;
  position: relative;
  vertical-align: text-bottom;
  font-size: 1rem;
}

input,
select {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

label {
  font-weight: 600;
}


h1 {
  font-family: var(--h1-font-family);
  font-size: 1.476rem;
}

h2 {
  font-size: 1.383rem;
}

h3 {
  font-size: 1.296rem;
}

h4 {
  font-size: 1.215rem;
}

h5 {
  font-size: 1.138rem;
}

h6 {
  font-size: 1.067rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  font-weight: 600;
}

.p-small {
  font-size: 0.889rem;
}

.p-smallest {
  font-size: 0.79rem;
}

button {
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 16px 8px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  letter-spacing: 1.25px;
  min-width: 150px;
  min-height: 45px;
  background-color: transparent;
  margin: auto 0;
  transition: all 0.2s ease-in;
}

button:active {
  box-shadow: inset 0px 0px 24px -12px rgba(66, 68, 90, 1);
}

button:hover {
  border-color: rgba(116, 118, 143, 0.432);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.button-inline:hover {
  color: rgba(66, 68, 90, 1);
}

.button-primary {
  background-color: #34526f;
  color: #ffffff;
  text-decoration: none;
}

.button-primary:hover {
  background-color: #1c2c3b;
  box-shadow: inset 0px 0px 22px 0px rgba(16, 17, 31, 1);
}

.button-secondary {
  background-color: transparent;
  border-color: #34526f;
  color: #263d52;
  text-decoration: none;
}

.button-secondary:hover {
  background-color: #34526f;
  color: #dedede;
  box-shadow: inset 0px 0px 22px 0px rgba(16, 17, 31, 1);
}

.error-container {
  color: rgb(190, 46, 46);
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 
#94618E grape
#49274A eggplant
#f4decb sand
#fbeee7
rgb(198, 202, 207) border
 */
