.UserLogin {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.384);
  padding: 10px;
  border-radius: 10px;
  /* display: none; */

  input {
    margin-bottom: 20px;
  }
}
