.summary {
  display: flex;
  background-color: #fff;
  width: 100%;
  min-height: 80px;
  justify-content: space-between;
  padding: 12px 20px;
  flex-direction: column;
  border-radius: 8px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.summary__header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
  @media screen and (min-width: 768px) {
    max-width: 70%;
  }
}

.summary__progress {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.summary__progress_bar {
  --bar-width: 0px;
  width: 200px;
  max-width: 200px;
  height: 5px;
  position: relative;
  background-color: rgb(226, 226, 226);
}

.summary__progress_bar > span {
  width: 0%;
  max-width: 100%;
  height: 5px;
  background-color: rgb(69, 141, 69);
  display: block;
  position: absolute;
}

.summary button {
  justify-content: center;
  gap: 20px;
}
