.summary {
  display: flex;
  background-color: #fff;
  width: 100%;
  min-height: 80px;
  justify-content: space-between;
  padding: 16px;
  flex-direction: column;
  border: 1px solid rgb(228, 228, 231);
  border-radius: 8px;
  border-left-color: #35699b;
  border-left-width: 4px;
  box-shadow: 1px 2px 7px 0px rgba(66, 68, 90, 0.15);
  position: relative;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.summary__header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding-right: 140px;
  @media screen and (min-width: 768px) {
    max-width: 70%;
  }
}

.summary__header h3 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.summary__progress {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.summary__progress_bar {
  --bar-width: 0px;
  width: 200px;
  max-width: 200px;
  height: 5px;
  position: relative;
  background-color: rgb(226, 226, 226);
}

.summary__progress_bar > span {
  width: 0%;
  max-width: 100%;
  height: 5px;
  background-color: rgb(69, 141, 69);
  display: block;
  position: absolute;
}

.summary__streak {
  position: absolute;
  top: 16px;
  right: 16px;
}

.summary button {
  margin-top: 16px;
  justify-content: center;
}
