.summary {
  display: flex;
  background-color: #fbeee7;
  width: 100%;
  min-height: 80px;
  justify-content: space-between;
  padding: 10px 20px;
}

.summary_header {
  max-width: 65%;
  cursor: pointer;
}

.summary_button {
  background-color: #4d4845;
  height: 50px;
  margin: auto 0;
  padding: 15px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.summary_button svg {
  font-size: 1.4em;
}
