.editHabit {
  position: absolute;
  inset: 0;
  margin: auto 16px;
  height: fit-content;
  z-index: 5;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 20px 1px rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;

  @media screen and (min-width: 1024px) {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
    max-width: 500px;
    height: 35vw;
    width: 45vw;
  }
}

.editHabit__top {
  border-bottom: 1px solid var(--border-color);
  padding: 24px 24px 8px;
}

.editHabit__middle {
  border-bottom: 1px solid var(--border-color);
  padding: 16px 24px 24px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editHabit__bottom {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  gap: 8px;
  padding: 16px 24px 24px;
}

.editHabit__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editHabit__field--row {
  flex-direction: row;
}

.editHabit__field input {
}

.editHabit__goal {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
